.container {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
}

h1 {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #6b3856;
}

.card-footer {
	background-color: #6b3856 !important;
	color: #ffffff;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.card-footer a {
	color: #ffb41f !important;
}

.card {
	border: 3px solid #6b3856 !important;
	border-radius: 20px !important;
}

.card-title {
	color: black;
	font-weight: bold;
}
.card-body {
	background-color: #ffb41f;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

footer {
	text-align: center;
	padding-top: 20px;
}

.card-img-top {
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

body,
html {
	background-color: #fff !important;
}
